<!-- fix it username later -->

<section class="signout-header">
    <p>Hello, <strong><%= currentUser.username %></strong>  </p>
    <p>Your id is: <strong><%= currentUser.id %></strong>  </p>
    <form action="/sessions/sign_out" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Sign Out</button>
    </form>
</section>
<section class="new-task-btn">
    <form action="/tasks">
        <button>New Task</button>
    </form>
</section>

<div class="tasks-wrapper">
    <% for (let task of tasks) { %>
        <% if (Number(task.id) === Number(taskId)) { %> 
            <div class="task-card">
                <form action="/tasks" method="post">
                    <input type="hidden" name="_method" value="put">
                    <input class="card-title" type="text" name="title" value="<%= task.title %>">
                    <label for="">Description</label>
                    <input class="textbox-description-db" type="text" name="description" value="<%= task.description %>">
                    <label for="">Comment</label>
                    <input type="text" name="comment" value="<%= task.comment %>">
                    <label for="">Status</label>
                    <input type="text" name="status" value="<%= task.status %>">
                    <label for="">Assigner</label>
                    <input type="number" name="user_id_assigner" value="<%= task.user_id_assigner %>">
                    <input type="hidden" name="id" value="<%= task.id %>">
                    <button class="save-btn">Save</button>
                </form>
                <!-- router '/tasks/:task_id' created to make it possible to have two features (method put and delete) at the same for loop-->
                <form action="/tasks/<%= task.id %>" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="delete-btn">Delete</button>
                </form>
            </div>
            <% } else { %>  
                <div class="task-card">
                    <form action="/tasks" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input class="card-title" type="text" readonly="true" name="title" value="<%= task.title %>">
                        <label for="">Description</label>
                        <input class="textbox-description-db" type="text" readonly="true" name="description" value="<%= task.description %>">
                        <label for="">Comment</label>
                        <input type="text" readonly="true" name="comment" value="<%= task.comment %>">
                        <label for="">Status</label>
                        <input type="text" readonly="true" name="status" value="<%= task.status %>">
                        <label for="">Assigner</label>
                        <input type="number" readonly="true" name="user_id_assigner" value="<%= task.user_id_assigner %>">
                        <input type="hidden" readonly="true" name="id" value="<%= task.id %>">
                    </form>
                    <form action="/dashboard/<%= task.id %>">
                        <button class="edit-btn">Edit</button>
                    </form>
                </div>
        <% } %>  
    <% } %>  
</div>
