<header class="dashboard-header">
  <h1>TaskMaster</h1>
  <p>
    Hello, <strong><%= currentUser.username %></strong>! Your id is:
    <strong><%= currentUser.id %></strong>
  </p>
</header>

<form class="signout-btn" action="/sessions/sign_out" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button class="btn btn-outline-danger btn-sm">Sign Out</button>
</form>

<section class="new-task-btn">
  <form action="/tasks">
    <button class="btn btn-primary btn-sm">New Task</button>
  </form>
</section>

<div class="tasks-wrapper">
  <% for (let task of tasks) { %>
  <div class="task-card" onclick="handleClick('/dashboard/<%= task.id %>')">
    <form action="/tasks" method="post">
      <input type="hidden" name="_method" value="put" />
      <input
        class="card-title"
        type="text"
        readonly="true"
        name="title"
        value="<%= task.title %>"
      />
      <label for="">Description</label>
      <!-- <input
        class="textbox-description-db"
        type="text"
        readonly="true"
        name="description"
        value="<%= task.description %>"
      /> -->
      <textarea readonly rows="4" name="description">
<%= task.description %></textarea
      >
      <label for="">Comments</label>
      <input
        type="text"
        readonly="true"
        name="comment"
        value="<%= task.comment %>"
      />
      <label for="">Status</label>
      <input
        type="text"
        readonly="true"
        name="status"
        value="<%= task.status %>"
      />
      <label for="">Assigner</label>
      <input
        type="number"
        readonly="true"
        name="user_id_assigner"
        value="<%= task.user_id_assigner %>"
      />
    </form>
  </div>
  <% } %>
</div>
<footer>
  <p>&copy; 2023, Tales Pinto. All the rights reserved.</p>
</footer>

<script>
  function handleClick(url) {
    // Navigate to the specified URL when the task-card is double-clicked
    window.location.href = url
  }
</script>
