<!-- fix it username later -->
<p>Hello, <%= currentUser.username %> </p>

<form action="/sessions/sign_out" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Sign Out</button>
</form>

<form action="/tasks">
    <button>New Task</button>
</form>



<% for (let task of tasks) { %>
    <div>
        <form action="/tasks" method="post">
            <input type="hidden" name="_method" value="put">
            <input type="text" name="title" value="<%= task.title %>">
            <input type="text" name="description" value="<%= task.description %>">
            <input type="text" name="comment" value="<%= task.comment %>">
            <input type="text" name="status" value="<%= task.status %>">
            <input type="number" name="user_id_assigner" value="<%= task.user_id_assigner %>">
            <input type="hidden" name="id" value="<%= task.id %>">
            <button>Edit</button>
        </form>
        <form action="/tasks/<%= task.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Delete</button>
        </form>
    </div>
<% } %>  