<header class="dashboard-header">
  <h1>TaskMaster</h1>
  <p>
    Hello, <strong><%= currentUser.username %></strong>! Your id is:
    <strong><%= currentUser.id %></strong>
  </p>
</header>

<form class="signout-btn" action="/sessions/sign_out" method="post">
  <input type="hidden" name="_method" value="delete" />
  <button class="btn btn-outline-danger btn-sm">Sign Out</button>
</form>

<section class="new-task-btn">
  <form action="/tasks">
    <button class="btn btn-primary btn-sm">New Task</button>
  </form>
</section>

<div class="tasks-wrapper">
  <% for (let task of tasks) { %> <% if (Number(task.id) === Number(taskId)) {
  %>
  <div
    class="task-card"
    ondblclick="handleDoubleClick('/dashboard/<%= task.id %>')"
  >
    <form action="/tasks" method="post">
      <input type="hidden" name="_method" value="put" />
      <input
        class="card-title"
        type="text"
        name="title"
        value="<%= task.title %>"
      />
      <label for="">Description</label>
      <textarea rows="4" name="description"><%= task.description %></textarea>
      <label for="">Comments</label>
      <input type="text" name="comment" value="<%= task.comment %>" />
      <label for="">Status</label>
      <input type="text" name="status" value="<%= task.status %>" />
      <label for="">Assigner</label>
      <input
        type="number"
        name="user_id_assigner"
        value="<%= task.user_id_assigner %>"
      />
      <input type="hidden" name="id" value="<%= task.id %>" />
      <button class="btn btn-success save-btn btn-sm">Save</button>
    </form>

    <div class="form-delete">
      <!-- router '/tasks/:task_id' created to make it possible to have two features (method put and delete) at the same for loop-->
      <form
        class="form-delete-btn"
        action="/tasks/<%= task.id %>"
        method="post"
      >
        <input type="hidden" name="_method" value="delete" />
        <button class="btn btn-danger delete-btn btn-sm">Delete</button>
      </form>
    </div>
  </div>
  <% } else { %>
  <div
    class="task-card"
    ondblclick="handleDoubleClick('/dashboard/<%= task.id %>')"
  >
    <form action="/tasks" method="post">
      <input type="hidden" name="_method" value="put" />
      <input
        class="card-title"
        type="text"
        readonly="true"
        name="title"
        value="<%= task.title %>"
      />
      <label for="">Description</label>
      <textarea rows="4" name="description"><%= task.description %></textarea>
      <label for="">Comments</label>
      <input
        type="text"
        readonly="true"
        name="comment"
        value="<%= task.comment %>"
      />
      <label for="">Status</label>
      <input
        type="text"
        readonly="true"
        name="status"
        value="<%= task.status %>"
      />
      <label for="">Assigner</label>
      <input
        type="number"
        readonly="true"
        name="user_id_assigner"
        value="<%= task.user_id_assigner %>"
      />
      <input type="hidden" readonly="true" name="id" value="<%= task.id %>" />
    </form>
  </div>
  <% } %> <% } %>
</div>
<footer>
  <p>&copy; 2023, Tales Pinto. All the rights reserved.</p>
</footer>

<script>
  function handleDoubleClick(url) {
    // Navigate to the specified URL when the task-card is double-clicked
    window.location.href = url
  }
</script>
